[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
langchain-openai = "*"
langchain-experimental = "*"
langchainhub = "*"
pinecone-client = "*"
python-dotenv = "*"
tiktoken = "*"
docx2txt = "*"
pypdf = "*"
requests = "*"
numpy = "*"
pandas = "*"
duckduckgo-search = "*"
langchain-community = "*"
wikipedia = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
