[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
langchain-openai = "*"
langchain-experimental = "*"
langchainhub = "*"
pinecone-client = "*"
python-dotenv = "*"
tiktoken = "*"
docx2txt = "*"
pypdf = "*"
requests = "*"
numpy = "*"
pandas = "*"
jupyter-ai = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.12"
